

.sidebar{
    min-width: 250px;
    max-width: 250px;
    background-color: #343a40;
    color: white;
    position: fixed;
    height: 100%;
}

.content{
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

.sidebar a {
    color: white;
}

.sidebar a:hover{
    background-color: #495057;
}

